body{
  background-color: #F5F5F1;
  color:#5E451A;
}

a:hover{
  text-decoration: none;
}

.mainStore{
  margin: auto;
  width: 90%;
}

.filterSort{
  padding: 0;
  margin-right: 5%;
  margin-top: -40px;
  border: #957D54 1px solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  text-align: right;
}

.filterSort li{
  display: block;
  margin-bottom: 30px;
}

.filterSort a{
  color: #957D54;
}

.filterSort a:hover{
  color: #B59F7A;
}

.filterSort input{
  border-radius: 3px;
}

.storeItem{
  background-color: #FCF1DE;
  border: solid #957D54 2px;
  display: inline-block;
  width: 30%;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  color: #957D54;
}

.storeItem h4{
  float: right;
}

.storeItem a{
  clear: both;
  display:block;
  color: #957D54;
  text-align: center;
}

.storeItem a:hover{
  color: #B59F7A;
}

.itemTitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #957D54;
}

.detailLink{
  margin: auto;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.itemTitle:hover{
  color: #B59F7A;
}

.detailItem{
  background-color: #FCF1DE;
  border: solid #957D54 2px;
  border-radius: 5px;
  padding: 15px;
  width: 800px;
  text-align: center;
  margin: auto;
}

.detailItem img{
  max-width:95%;
  max-height: 95%;
}

.detailItem a{
  color: #957D54;
  text-align: center;
}

.detailItem a:hover{
  color: #B59F7A;
}

.materialsList{
  text-align: left;
}

.materialsList ul{
  list-style: disc;
}

.materialsList li{
  display: list-item;
}

.navBar{
  width: 100%;
  padding: 5px 25px 20px 25px;
}

.navBar h1{
  font-family: 'Bad Script', cursive;
  font-size: 5em;
}

.navBar a{
  color: #957D54;
}

.navBar ul{
  position: absolute;
  top: 30px;
  right: 30px;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
}

.shoppingCart{
  width: 75%;
  margin: auto;
}

.shoppingCartItem{
  background-color: #FCF1DE;
  border: solid #957D54 2px;
  border-radius: 5px;
  padding: 15px 15px 35px 15px;
  margin-top: 45px;
}

.shoppingCartItem img{
  float:left;
  padding-right: 30px;
}

.shoppingDescription{
  text-align: right;
}

.shoppingDescription a{
  color:#957D54;
}

.shoppingDescription a:hover{
  color: #B59F7A;
}

.shoppingDescription li{
  display: block;
}

.shoppingCartTotal{
  float:right;
  text-align: right;
}

.glyphicon-shopping-cart{
  font-size: 3.5em;
}

.glyphicon-remove{
  font-size: 2em;
  color:#957D54;
  float: right;
}

.glyphicon-remove:hover{
  color: #B59F7A;
}

.cartCounter{
  background-color: #FCF1DE;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 2px 10px 2px 10px;
}

.dropShadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.3s;
}

@media all and (max-width: 1040px){
  .storeItem{
    width: 45%;
  }
  .detailItem{
    width: 90%;
  }
}

@media all and (max-width: 700px){
  .storeItem{
    width: 90%;
  }
  .filterSort{
    margin-top: 20px;
  }
  .navBar h1{
    margin-right: 90px;
  }
}
