$mainFontColor: #755944;
$hoverFontColor: #E4A474;
$backgroundColor: #C5D9A5;

body{
  background-color: whitesmoke;
  color:$mainFontColor;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
}

a:hover{
  text-decoration: none;
}

.mainStore{
  margin: auto;
  width: 90%;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.filterSort{
  background-color: $backgroundColor;
  display:flex;
  justify-content: space-between;
  width:100%;
  padding: 15px 5%;
  border: $mainFontColor 2px solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  text-align: right;
  a{
    color: $mainFontColor;
    &:hover{
      color: $hoverFontColor;
    }
  }
  input{
    border-radius: 3px;
  }
}

.featured{
  width:90%;
  height:550px;
  margin: auto;
  padding: 20px 50px;
  background-color: white;
  display:flex;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  border: 2px solid $mainFontColor;
  h2{
    margin-top:0;
    text-align: center;
    a{
      color:$mainFontColor;
      &:hover{
        color:$hoverFontColor;
      }
    }
  }
  img{
    max-width:100%;
    max-height:450px;
    width:auto;
    height:auto;
    border: 4px solid $mainFontColor;
  }
}

.storeItem{
  background-color: $backgroundColor;
  border: solid $mainFontColor 2px;
  display: inline-block;
  width: 30%;
  margin: 15px;
  padding: 10px;
  color: $mainFontColor;
  h4{
    float: right;
  }
  a{
    clear: both;
    display:block;
    color: $mainFontColor;
    text-align: center;
    &:hover{
      color: $hoverFontColor;
    }
  }
  img{
    border: 2px solid $mainFontColor;
  }
}

.itemTitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $mainFontColor;
  &:hover{
    color: $hoverFontColor;
  }
}

.detailLink{
  margin: auto;
  text-align: center;
  display: block;
  padding-top: 10px;
}

.detailItem{
  background-color: $backgroundColor;
  border: solid $mainFontColor 2px;
  padding: 15px;
  width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom:5%;
  margin-top: 25px;
  img{
    max-width:95%;
    max-height: 95%;
    border: 2px solid $mainFontColor;
  }
  a{
    color: $mainFontColor;
    text-align: center;
    &:hover{
      color: $hoverFontColor;
    }
  }
}

.materialsList{
  width:50%;
  margin:auto;
  ul{
    list-style: disc;
    text-align: left;
    li{
      display: list-item;
    }
  }
}

.navBar{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  background-color: $backgroundColor;
  width: 100%;
  padding: 0px 25px;
  margin-top:-20px;
  border: $mainFontColor 2px solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 5em;
    display:inline-block;
    margin-right:0;
  }
  a{
    color: $mainFontColor;
    text-decoration: none;
  }
}

.shoppingCart{
  width: 75%;
  margin: auto;
}

shopping-cart-item{
  background-color: $backgroundColor;
  border: solid $mainFontColor 2px;
  padding: 15px 15px 35px 15px;
  margin-top: 45px;
  display:flex;
  img{
    max-width: 100%;
    width: auto;
    height: auto;
    float: left;
    border: 2px solid $mainFontColor;
  }
  a{
    color:$mainFontColor;
    &:hover{
      color: $hoverFontColor;
    }
  }
  div{
    flex:1;
    align-self: center;
    ul li{
      display:block;
    }
    &:last-of-type{
      flex:3;
      text-align: right;
    }
  }
}

.shoppingCartTotal{
  float:right;
  text-align: right;
  margin-bottom:5%;
}

.glyphicon-shopping-cart{
  font-size: 3.5em;
}

.glyphicon-remove{
  font-size: 2em;
  color:$mainFontColor;
  float: right;
  &:hover{
    color: $hoverFontColor;
  }
}

.cartCounter {
  background-color: $mainFontColor;
  border-radius: 50%;
  font-size: 1.5em;
  padding: 2px 10px 2px 10px;
  color: whitesmoke;
}

input[type='text']{
    border: 1px solid;
  &:focus{
    outline: none !important;
    box-shadow: 0 0 10px $mainFontColor;
  }
}

.ion-coffee{
  font-size:8em;
  padding-right:20px;
}

.ion-record{
  font-size:3em;
}

.dropShadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.3s;
}

/*******************
MEDIA QUERIES
*******************/

@media all and (max-width: 1040px){
  .storeItem{
    width: 45%;
  }
  .detailItem{
    width: 90%;
  }
}

@media all and (max-width: 700px){
  .storeItem{
    width: 90%;
  }
  .filterSort{
    font-size:1.2em;
    text-align: center;
    li{
      padding:0 15px;
    }
  }
  .navBar{
    margin-top: -10px;
    .logo h1{
      font-size:5em;
    }
    .ion-coffee{
      font-size:5em;
    }
     a{
      font-size:0.75em;
    }
  }
  .mainStore{
    justify-content: center;
  }
  .featured{
    height:400px;
    img{
      max-height:300px;
    }
  }
}

@media all and (max-width:500px){
  shopping-cart-item{
    flex-flow:column wrap;
    div:last-of-type{
      text-align:left;
      ul{
        padding:0;
      }
      h3{
        font-size:1.5em;
      }
    }
  }
  .navBar{
    padding:0 10px;
    .logo h1{
      font-size:3.5em;
    }
    .ion-coffee{
      font-size:3.5em;
      padding-right:5px;
    }
    ul{
      padding-left: 10px;
    }
  }
  .filterSort{
    flex-direction: column;
    li:nth-of-type(2){
      margin-top: 15px;
    }
  }
  .glyphicon-shopping-cart{
    font-size:3em;
  }
  .featured{
    padding: 5px 20px;
    height:350px;
    img{
      max-height:250px;
    }
  }
}
